body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-design {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.alert div p {
  margin-bottom: 0rem; 
}

.sign_up_btn {
  margin-right: 20px;
}